body {
	background: #999966;
	font-family: 'Old Standard TT', serif;
}

h1 {
	text-align: center;
}



.input-label {
	font-size: 1.5em;
	padding-bottom: 5px;
}

#task {
	margin-bottom: 10px;
}

.list-properties {
	font-size: 2.5em;
	color: red;
	font-family: Helvetica;
}
